#------------------------------------------------------------------------
#BOP
#
# !RESOURCE: GMI_Mech_Registry
# 
# !HELP:
#
#  For the mechanism   StratTrop_JPL19
#
#  The GMI Mechanism Registry resource file provides names and units
#  for the species in the GMI chemical mechanism. There is a different
#  file for each different mechanism, and the choice of mechanism
#  occurs at compile time.
#
#  This file is read at run-time.  It provides the list of GMI species
#  that GEOS will use for the INTERNAL state.  There is a separate,
#  largely identical list of species that the SMV chemical solver will use,
#  i.e. the GMI internal list.
#
#  The differences between the GEOS list (this file) and the
#  GMI internal list are as follows:
#    - AOADAYS is only in the GEOS list
#    - T2M15d  is only in the GEOS list
#    - H2O     is only in the GMI internal list
#
#  This file has 2 tables:  the GMI table holds the chemical species
#  that are transported; the XX table holds the non-transported species.
#
#  The following assumptions exist in the code:
#    - AOADAYS is the first entry in the GMI_table
#    - T2M15d  is the last entry in the XX_table
#
# !REVISION HISTORY:
#
#  2022-09-15  manyin   Derived this file from Chem_Registry.rc
#
#-----------------------------------------------------------------------
#EOP

GMI_table::

# Name     Units        Long Name
# -----    ------       --------------------------------
AOADAYS    days          Age-of-air                                                                      
ACTA       'mol mol-1'   '{CH3C(O)OH; Acetic acid}'                                                      
ALD2       'mol mol-1'   '{CH3CHO; Acetaldehyde}'                                                        
ALK4       'mol mol-1'   'C4+ alkanes (C4H10, C5H12)'                                                    
Br         'mol mol-1'   'Atomic Bromine ground state (2P3/2)'                                           
BrCl       'mol mol-1'   'Bromine chloride'                                                              
BrO        'mol mol-1'   'Bromine monoxide radical'                                                      
BrONO2     'mol mol-1'   'Bromine nitrate'                                                               
C2Cl4      'mol mol-1'   'Tetrachloroethylene'                                                           
C2H4Cl2    'mol mol-1'   'Ethylene dichloride, 1-2 Dichloroethane'                                       
C2H6       'mol mol-1'   'Ethane'                                                                        
C3H8       'mol mol-1'   'Propane'                                                                       
CCl4       'mol mol-1'   'Carbon tetrachloride'                                                          
CF2Br2     'mol mol-1'   'Halon 1202, Dibromodifluoromethane'                                            
CF2ClBr    'mol mol-1'   'Halon-1211, Bromochlorodifluoromethane'                                        
CF3Br      'mol mol-1'   'Halon-1301, Bromotrifluoromethane'                                             
CFC113     'mol mol-1'   'CFC113, Trichlorotrifluoroethane'                                              
CFC114     'mol mol-1'   'CFC114, Dichlorotetrafluoroethane'                                             
CFC115     'mol mol-1'   'CFC115, Chloropentafluoroethane,'                                              
CFC11      'mol mol-1'   'Freon-11, Trichlorofluoromethane'                                              
CFC12      'mol mol-1'   'Freon-12, Dichlorodifluoromethane'                                             
CHCl3      'mol mol-1'   'Chloroform, Trichloromethane'                                                  
CH2Br2     'mol mol-1'   'Dibromomethane'                                                                
CH2Cl2     'mol mol-1'   'Dichloromethane'                                                               
CH2O       'mol mol-1'   'Formalydehyde'                                                                 
CH3Br      'mol mol-1'   'Methyl bromide'                                                                
CH3CCl3    'mol mol-1'   'Methyl chloroform, 1-1-1-trichloroethane'                                      
CH3Cl      'mol mol-1'   'Methyl chloride'                                                               
CH4        'mol mol-1'   'Methane'                                                                       
CHBr3      'mol mol-1'   'Bromoform'                                                                     
Cl2        'mol mol-1'   'Molecular chlorine'                                                            
Cl2O2      'mol mol-1'   'Chlorine peroxide'                                                             
Cl         'mol mol-1'   'Atomic Chlorine ground state (2P3/2)'                                          
ClO        'mol mol-1'   'Chlorine monoxide radical'                                                     
ClONO2     'mol mol-1'   'Chlorine nitrate'                                                              
CO         'mol mol-1'   'Carbon monoxide'                                                               
DMS        'mol mol-1'   'Dimethylsulfide (CH3SCH3)'                                                     
ETP        'mol mol-1'   '{CH3CH2OOH; Ethylhydroperoxide}'                                               
H2         'mol mol-1'   'Molecular hydrogen'                                                            
H2402      'mol mol-1'   'Halon 2402 (CF2BrCF2Br)'                                                       
H2O2       'mol mol-1'   'Hydrogen peroxide'                                                             
HAC        'mol mol-1'   '{HOCH2C(O)CH3; Hydroxyacetone}'                                                
HBr        'mol mol-1'   'Hydrogen bromide'                                                              
HCFC141b   'mol mol-1'   'HCFC-141b (C2Cl2FH3)'                                                          
HCFC142b   'mol mol-1'   'HCFC-142b (C2ClF2H3)'                                                          
HCFC22     'mol mol-1'   'HCFC-22 (CClF2H)'                                                              
HCl        'mol mol-1'   'Hydrochloric Acid'                                                             
HCOOH      'mol mol-1'   'Formic acid, HC(=O)OH'                                                         
HFC125     'mol mol-1'   'HFC-125, Pentafluoroethane'                                                    
HFC134a    'mol mol-1'   'HFC-134a, CH2FCF3, 1,1,1,2-Tetrafluoroethane'                                  
HFC143a    'mol mol-1'   'HFC-143a, 1,1,1-Trifluoroethane'                                               
HFC152a    'mol mol-1'   'HFC-152a, 1,1-Difluoroethane'                                                  
HFC23      'mol mol-1'   'HFC-23, Fluoroform'                                                            
HFC32      'mol mol-1'   'HFC-32, Difluoromethane'                                                       
HNO2       'mol mol-1'   'Nitrous acid'                                                                  
HNO3       'mol mol-1'   'Nitric acid'                                                                   
HNO4       'mol mol-1'   'Pernitric acid'                                                                
HO2        'mol mol-1'   'Perhydroxyl radical'                                                           
HOBr       'mol mol-1'   'Hydrobromous acid'                                                             
HOCl       'mol mol-1'   'Hydrochlorous acid'                                                            
IALD       'mol mol-1'   'Hydroxy carbonyl alkenes (C5H8O2) from isoprene'                               
ISOP       'mol mol-1'   '{CH2=C(CH3)CH=CH2; Isoprene CH3C(O)CH=CH2 or CH2=C(CH3)CH=CH2'                 
MACR       'mol mol-1'   '{CH2=C(CH3)CHO; Methacrolein}'                                                 
MEK        'mol mol-1'   '{CH3C(O)CH3; Methyl ethyl ketone}'                                             
MOH        'mol mol-1'   '{CH3OH; Methanol}'                                                             
MP         'mol mol-1'   '{CH3OOH; Methylhydroperoxide}'                                                 
MVK        'mol mol-1'   '{CH3C(O)CH=CH2 or CH2=CHC(O)CH3 Methyl vinyl ketone}'                          
N2O        'mol mol-1'   'Nitrous oxide'                                                                 
N2O5       'mol mol-1'   'Dinitrogen pentoxide'                                                          
NO         'mol mol-1'   'Nitric oxide'                                                                  
NO2        'mol mol-1'   'Nitrogen dioxide'                                                              
NO3        'mol mol-1'   'Nitrogen trioxide'                                                             
OX         'mol mol-1'   'Ozone'                                                                         
OClO       'mol mol-1'   'Symmetrical chlorine dioxide'                                                  
OCSg       'mol mol-1'   'Carbonyl Sulfide in GMI (gas)'                                                 
OH         'mol mol-1'   'Hydroxyl radical'                                                              
PAN        'mol mol-1'   '{CH3C(O)OONO2; Peroxyacetylnitrate}'                                           
PMN        'mol mol-1'   'Peroxymethacryloyl nitrate (C4H5O5N) (now MPAN)'                               
PPN        'mol mol-1'   '{CH3CH2C(O)OONO2; Peroxypropionylnitrate}'                                     
PRPE       'mol mol-1'   'Propene (CH2=CHCH3)'                                                           
R4N2       'mol mol-1'   '{RO2NO; >= C4 alkylnitrates}'                                                  
RCHO       'mol mol-1'   '{CH3CH2CHO; >= C3 aldehydes}'                                                  
RCOOH      'mol mol-1'   'C2 organic acids'                                                              
SO2        'mol mol-1'   'Sulfur dioxide'                                                                
H2SO4      'mol mol-1'   'Sulfuric acid'                                                                 
HNO3COND   'mol mol-1'   'Condensed Nitric Acid'                                                         
::

XX_table::

# Name     Units        Long Name
# -----    ------       --------------------------------
A3O2       'mol mol-1'   '{CH3CH2CH2OO; Primary RO2 from C3H8}'                                          
ATO2       'mol mol-1'   '{CH3C(O)CH2O2; RO2 from acetone}'                                              
B3O2       'mol mol-1'   '{CH3CH(OO)CH3; Secondary RO2 from C3H8}'                                       
EOH        'mol mol-1'   'Ethanol (C2H5OH)'                                                              
ETO2       'mol mol-1'   '{C2H5O2 or CH3CH2OO; Ethylperoxy radical}'                                     
GLYC       'mol mol-1'   '{HOCH2CHO; Glycoaldehyde}'                                                     
GLYX       'mol mol-1'   '{CHOCHO; Glyoxal}'                                                             
H          'mol mol-1'   'Atomic Hydrogen ground state (2S)'                                             
IAO2       'mol mol-1'   'RO2 (C5H9O5) from isoprene oxidation products (now ICHOO)'                     
INO2       'mol mol-1'   'peroxy radicals from isoprene + NO3}'                                          
INPN       'mol mol-1'   'Peroxide (C5H8O6N2) from INO2'                                                 
KO2        'mol mol-1'   'RO2 (C4H7O3) from C3 ketones maybe:CH3C(O)CH2'                                 
MAO3       'mol mol-1'   'Peroxyacyl (C4H5O3) from MACR and MVK [now MACR1OO]'                           
MAOP       'mol mol-1'   'Peroxide (C4H6O3) from MAO3 [now MACR1OOH]'                                    
MAP        'mol mol-1'   '{CH3C(O)OOH; Peroxyacetic acid}'                                               
MCO3       'mol mol-1'   '{CH3C(O)O2; Peroxyacetyl radical}'                                             
MGLY       'mol mol-1'   '{CH3COCHO; Methylglyoxal}'                                                     
MO2        'mol mol-1'   '{CH3O2; Methylperoxy radical}'                                                 
MRP        'mol mol-1'   'Peroxide (C4H8O4) from MRO2 (now MVKHP in geoschem'                            
N          'mol mol-1'   'Atomic nitrogen ground state'                                                  
O          'mol mol-1'   'Atomic Oxygen ground state (3P)'                                               
O1D        'mol mol-1'   'Atomic Oxygen first excited singlet state (1D)'                                
PO2        'mol mol-1'   '{HOCH2CH(OO)CH3; RO2 from propene}'                                            
PP         'mol mol-1'   '{HOCH2CH(OOH)CH3; Peroxide from PO2}'                                          
PRN1       'mol mol-1'   '{O2NOCH2CH(OO)CH3; RO2 from propene + NO3}'                                    
PRPN       'mol mol-1'   '{O2NOCH2CH(OOH)CH3; Peroxide from PRN1}'                                       
R4N1       'mol mol-1'   'RO2 (C4H9O3N) from R4N2'                                                       
R4O2       'mol mol-1'   'RO2 (C4H9O2) from ALK4'                                                        
R4P        'mol mol-1'   '{CH3CH2CH2CH2OOH; Peroxide from R4O2}'                                         
RA3P       'mol mol-1'   '{CH3CH2CH2OOH; Peroxide from A3O2}'                                            
RB3P       'mol mol-1'   '{CH3CH(OOH)CH3; Peroxide from B3O2}'                                           
RCO3       'mol mol-1'   '{CH3CH2C(O)OO; Peroxypropionyl radical}'                                       
RIO1       'mol mol-1'   'RO2 (C5H9O3) from isoprene oxydation products (now IHOO1)'                     
RIO2       'mol mol-1'   'RO2 (C5H9O3) from isoprene (now IHOO4)'                                        
RIPA       'mol mol-1'   '{HOCH2C(OOH)(CH3)CH=CH2; 1,2-ISOPOOH}'                                         
RIPB       'mol mol-1'   '{HOCH2C(OOH)(CH3)CH=CH2; 4,3-ISOPOOH}'                                         
ROH        'mol mol-1'   'C2 alcohols (CH3CH2CH2OH)'                                                     
RP         'mol mol-1'   '{CH3CH2C(O)OOH; Peroxide from RCO3}'                                           
VRO2       'mol mol-1'   'RO2 (C4H7O4) from MVK+OH now MVKOHOO?'                                         
VRP        'mol mol-1'   '{C4H8O4; MVK hydroxy-hydroperoxide}'                                           
ACET       'mol mol-1'   '{CH3C(O)CH3; Acetone}'                                                         
N2         cm-3          'Molecular nitrogen'                                                            
O2         cm-3          'Molecular oxygen'                                                              
NUMDENS    cm-3          'Total number density'                                                          
T2M15d     K             Daily T2M time average                                                          
::
